.wrapper {
  display: flex;
    align-items: center;
  flex-direction: column;
  margin-top: 47px;
}

.title {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.subtitle {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 138.5%;
  text-align: center;
  color: #000000;
  margin-top: 10px;
  width: 100%;
  max-width: 391px;
}
.text {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 138.5%;
  text-align: center;
  color: #000000;
  margin-top: 19px;
}
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.subtitle > span {
  font-weight: bold;
}
.container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  margin-top: 48px;

}